<!-- <div class="card" style="width: 18rem;">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWlQpJhqednkARfkovaycNFFsCvJKNBzai2A&s" class="card-img-top" alt="Card Image">
  <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{description}}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->


<div class="card d-flex m-3" style="width: 18rem; height:30rem" >
  <img [src]="src" class="card-img-top" alt="Card Image" style="height:10rem">
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <p class="card-text">{{ description }}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>




 